<ion-view view-title="Bayar Hutang Tabunganku">
  <ion-content>

    <form ng-submit="simpan()">
      <ion-modal-view>
        <ion-item>
          Input Jumlah Bayar hutang Tabungan: Max {{maximal | number}}
        </ion-item>
        <div class="padding">
          <label class="item item-input ">
            <input type="number" placeholder="Jumlah Uang yang dibayar" ng-model="form.jumlah" ng-required="true">
          </label>
        </div>
        <div class="padding">
          <div class="tab-item">
            <button type="submit" class="button button-block button-positive">simpan</button>
          </div>
        </div>
        <div class="padding" ng-show="msg" style="background-color: #ef473a">
          <div style="color: #f7f7f7;text-align: center;text-decoration: double">
            {{msg}}
          </div>
        </div>
        <div class="padding" ng-show="text" style="background-color: #33cd5f">
          <div style="color: #f7f7f7;text-align: center;text-decoration: double">
            {{text}}
          </div>
        </div>
      </ion-modal-view>
    </form>

  </ion-content>
</ion-view>